@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway&display=swap');

:root {
    --cor-primaria: #4650BD;
    --cor-secundaria: #ffffff;
    --cor--terciaria: #008364;
    --cor-sombra: #000000;
    --cor-hover: #606ADA;
    --cor-fundo: linear-gradient(#304968 0%,
    #36C1A0 52.6%,
    #4650BD 100%);

    --fonte-primaria: 'Calistoga', cursive;
    --fonte-secundaria: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background: var(--cor-fundo);
    overflow-x: hidden;
}

.apresentacao {
    width: auto;
}

.apresentacao__secao {
    position: relative;
    height: 407px;
    width: 100%;
    padding-top: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.apresentacao__secao::before {
    content: "";
    background-size: cover;
    background-position: center;
    background-image: url("../assets/Boreal.png");
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
}

.apresentacao__secao__titulo {
    position: relative;
    color: var(--cor-secundaria);
    font-weight: 400;
    font-size: 4rem;
    font-family: var(--fonte-primaria);
}

.alinhamento__apresentacao__datas {
    padding: 8% 6%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.alinhamento__apresentacao__datas__imagem {
    width: 40%;
}

.apresentacao__datas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 24px;
    width: 50%;
}

.apresentacao__datas__titulo {
    width: 50%;
    line-height: 2.5rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__datas__texto {
    width: 48%;
    font-size: 1.25rem;
    line-height: 2.5rem;
    font-weight: 500;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__datas__ancora {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    box-shadow: 4px 4px var(--cor-sombra);
    width: 48%;
    height: 56px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    border-radius: 16px;
    padding: 8px 16px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__datas__ancora:hover {
    background-color: var(--cor-hover);
}

.guitarra {
    mix-blend-mode: multiply;
    width: 100%;
    padding-top: 5%;
 }
 

@media (max-width: 768px){
    .apresentacao__secao {
        padding-top: 25%;
    }

    .alinhamento__apresentacao__datas {
        flex-direction: column;
        align-items: center;
        gap: 32px;
        padding: 8% 0%;
    }

    .apresentacao__datas {
        width: 100%;
    }

    .alinhamento__apresentacao__datas__imagem {
        width: 80%;
    }

}