@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway&display=swap');

:root {
    --cor-primaria: #4650BD;
    --cor-secundaria: #ffffff;
    --cor--terciaria: #008364;
    --cor-sombra: #000000;
    --cor-hover: #606ADA;
    --cor-fundo: linear-gradient(#304968 0%,
    #36C1A0 52.6%,
    #4650BD 100%);

    --fonte-primaria: 'Calistoga', cursive;
    --fonte-secundaria: 'Raleway', sans-serif;
}

* {
    margin: 0;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    background: var(--cor-fundo);
}

.apresentacao {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-bottom: 4rem;
}

.apresentacao__secao {
    position: relative;
    height: 407px;
    width: auto;
    padding-top: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.apresentacao__secao::before {
    content: "";
    background-size: cover;
    background-position: center;
    background-image: url("../assets/setores.png");
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 40%;
    position: absolute;
}

.apresentacao__secao__titulo {
    position: relative;
    color: var(--cor-secundaria);
    font-weight: 400;
    font-size: 4rem;
    font-family: var(--fonte-primaria);
}

.setores{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.setores__legenda {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
}

.setores__legenda__titulo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.setores__legenda__texto {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.bloco__detalhes {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.titulo__detalhes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);

}

.detalhes {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 25px;
    height: 40rem;
}

.detalhes__secao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.detalhes__secao:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.detalhes__secao__titulo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.detalhes__secao__subtitulo {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 170%;
    width: 383px;
    text-align: center;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

@media (max-width: 768px) {
    .apresentacao__secao {
        padding-top: 25%;
    }

    .setores {
        flex-direction: column;
    }

    .setores__imagem {
        width: 80%;
    }

    .setores__legenda {
        width: 50%;
    }

    .bloco__detalhes{
        gap: 32px;
    }

    .detalhes {
        flex-direction: column;
        height: auto;
        align-items: center;
        gap: 32px;
    }

}